extends layout

block content
  .row.stuff.info
    .col-xs-12.col-sm-4
      h3= pollData.title
      form(action="/polls/select/#{pollData._id}", method="post", role="form")
        .form-group
          label(for='sel1') I'd like to vote for...:
          select#sel1.form-control(name="selectpicker")
            option(selected='' hidden='') Choose an option...:
            each choice in JSON.parse(data).labels
              option= choice
        button.btn.btn-primary.btn-block.pollbtn(type='submit') Submit
        button.btn.btn-info.btn-block.pollbtn(type='button')
          i.fa.fa-twitter(aria-hidden='true')
          |  Share on Twitter
    .col-xs-12.col-sm-8
      canvas#myChart(width= "240px", height= "240px")
      form(action="/polls/#{pollData._id}", method="post", role="form")
        button.btn.btn-danger.btn-block(type='submit') Remove this Poll
      script(type='text/javascript').
        $(document).ready(function() {
          var local_data = !{JSON.stringify(data)};
          var ctx = document.getElementById("myChart").getContext('2d');
          var myDoughnutChart = new Chart(ctx, {type: 'doughnut', data: JSON.parse(local_data), options: {responsive: false, legend: {position: "bottom",labels: {boxWidth: 12}}}});
        });
